body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.centro {
    width: 24rem;
    height: 20rem;
    background-color: #212121;
    border-bottom-right-radius: 100px / 200px;
    position: absolute;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.circulo-sup {
    background-color: #fff;
    width: 24rem;
    height: 10rem;
    border-radius: 100%;
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto;
}

.circulo-inf {
    background-color: #fff;
    width: 24rem;
    height: 10rem;
    border-radius: 80%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

.L1 {
    background-color: gray;
    width: 6rem;
    height: 1.5rem;
    margin-top: -15px;
    margin-left: 1rem;
    border-radius: 20% 60% 75% 90%;
    rotate: 190deg;
    position: absolute;
}

.R1 {
    background-color: gray;
    width: 6rem;
    height: 1.5rem;
    margin-top: -15px;
    margin-left: 270px;
    border-radius: 20% 60% 75% 90%;
    rotate: 165deg;
    position: absolute;
}

.contenedor1 {
    height: 30rem;
    width: 40rem;
    display: flex;
    justify-content: center;
}

.start {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: #212121;
    position: absolute;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #4f9;
}

.start svg {
    color: #000;
}

.contenedor2 {
    height: 30rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.asa-izq {
    width: 15rem;
    height: 26rem;
    background: #212121;
    border-radius: 35% 65% 41% 59% / 25% 94% 6% 90%;
    transform: scaleX(-1);
    position: relative;
    rotate: 10deg;
    border-radius: 35% 65% 41% 59% / 25% 94% 6% 90%;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.stick-izq {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: .5rem solid #000;
    position: relative;
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: #2f2e2e;
    box-shadow: 0 0 20px #000;
}

.cruceta {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    border: .5rem outset black;
    background-color: #2f2e2e;
    box-shadow: 0 0 20px #000;
    background-size: 16px 16px;
    margin-left: -3rem;
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flecha {
    color: #000;
    rotate: 280deg;
}

.asa-dcha {
    width: 15rem;
    height: 26rem;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border-radius: 35% 65% 41% 59% / 25% 94% 6% 90%;
    position: relative;
    rotate: -10deg;
}

.botones-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 10rem;
    margin-top: 3rem;
    margin-left: 1rem;
    position: absolute;
}

.yellow {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: radial-gradient(yellow, rgb(165, 165, 90));
}

.green {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: radial-gradient(green, rgba(0, 128, 0, 0.37));
}

.botones-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;
    margin-top: 3rem;
    height: 7rem;
    width: 7rem;
    position: relative;
}

.red {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: radial-gradient(red, rgba(255, 0, 0, 0.245));
}

.blue {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: radial-gradient(blue, rgba(0, 0, 255, 0.346));
}

.stick-dcha {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    border: .5rem solid black;
    background-color: #2f2e2e;
    margin-left: -2rem;
    margin-top: -2rem;
    box-shadow: 0 0 20px #000;
}